*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-full{
    width: 1075px;
    height: 2764.86px
    margin: auto;   
    margin-top: 80px;
    
}
.container-body{
    width: 1045px;
    height: 2668.86px;
    padding: 0 15px;
}
.container-body .search{
    width: 491.5px;
    height: 38px;
    display: flex;
    margin: 0 0 24px;
}
.icon{
    width: 441.5px;
    height: 38px;
    display: flex;
    position: relative;
}
.icon input{
    width: 441.5px;
    height: 38px;
    padding: 6px 40px 6px 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
}
.icon i{
    width: 16px;
    height: 16px;
    color: #c4c4c4;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.icon-1 button{
    width: 40px;
    height: 38px;
    margin-left: 10px;
    display: inline-block;
    background-color: green;
    border: 5px;
    border-radius: 4px;
}
.icon-1 i{
    color: white;
}

.container{
    width: 1015px;
    height: 2606.86px;
    display: flex;
    
}
.container .row{
    display: flex;
    margin-left: -23px;
    margin-right: -30px;
    margin-bottom: -35px;
}
.container .item{
    width: 317px;
    height: 349.09px;
    background-color: white;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.15)
}
.item img{
    width: 317px;
    height: 221.89px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.item-1{
    width: 269px;
    height: 82.41px;
    background-color: #fff;
    margin: 16px 24px 0px;
    display: flex;
    flex-wrap: wrap;
    font: inherit;
}
.item-2{
    width: 269px;
    height: 28.8px;
    margin: 0 0 16px;
    font-size: 1.2rem;  
    color: #464646;
}
.item-1-1{
    width: 269px;
    height: 111.2px;
    background-color: #fff;
    margin: 16px 24px 0px;
    display: flex;
    flex-wrap: wrap;
    font: inherit;
}
.item-2-2{
    width: 269px;
    height: 57.59px;
    margin: 0 0 16px;
    font-size: 1.2rem;  
    color: #464646;
}

.item-3{
    width: 269px;
    height: 21.61px;
    margin: 0 0 16px;
    display: flex;
    justify-content: space-between;
    color: #757575;
    font-size: .9rem;
}
.item-3 span{
    width: 28.22px;
    height: 21.61px;
}
span i {
    color: #ffd600;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

